:root {
    --blue: #1e90ff;
    --top: 24vmin;
    --topDouble: 22vmin;
    --left: 95px;
}

html,
body {

    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    font-family: Verdana, Geneva, sans-serif;


}

body {


    background-image: linear-gradient(164deg, rgba(0, 0, 0, 1) 0%, rgba(50, 50, 50, 1) 35%, rgba(71, 71, 71, 1) 58%, rgba(101, 101, 101, 1) 78%, rgba(150, 150, 150, 1) 100%);


}

@font-face {
    font-family: 'Cano', sans-serif;
    src: url('assets/cano.ttf');
}



@-webkit-keyframes background {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-moz-keyframes background {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@-o-keyframes background {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

@keyframes background {
    0% {
        background-position: 0% 9%
    }

    50% {
        background-position: 100% 92%
    }

    100% {
        background-position: 0% 9%
    }
}

#pa img {
    position: absolute;
    width: 100px;
    height: auto;
    padding: 5px;
    padding-bottom: 1px;
    cursor: pointer;
    /* float: left; */
    transition: all ease-in-out 0.7s;
    display: inline;
    z-index: -10;

}

#home-button {
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 28px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    position: absolute;
    background-color: #c0c0c0;
    color: black;
    transition: all ease-in-out 0.7s;


}

#logo-text {
    align-content: center;
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    padding-top: 5px;
    transition: all ease-in-out 0.7s;

}

#wrapper {
    width: 50% !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}


@media (max-width: 700px) {
    #wrapper {
        width: 40% !important;

    }
}

@media (max-width: 530px) {
    #defaultCanvas0 {
        width: 100%;
        height: 100%;
    }

    #sketch {
        /* display: inline-flex !important; */
    }

    #settings {
        margin-top: 0px !important;
        z-index: 2;
    }
}

#preview-image {
    width: calc(100vh - 20px);
    margin-left: 20vw;
    /* left: 50vw; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    border-radius: 10px;
    border: 1vh solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1vh;
    background: rgba(0, 0, 0, 0.4);

}

#canvas-and-metadata {

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column-reverse;
    padding-top: 10px;
    transition: all ease-in-out 0.7s;

}


canvas {
    z-index: -1;

    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1vh solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1vh;
    background: rgba(0, 0, 0, 0.4);
}


.loader {

    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 90%;
    background: -o-linear-gradient(285deg, rgb(204, 204, 204) 0%, rgb(61, 61, 61) 60%, rgb(95, 95, 95) 98%, rgb(136, 136, 136) 100%);
    background: linear-gradient(165deg, rgb(221, 221, 221) 0%, rgb(61, 61, 61) 60%, rgb(88, 88, 88) 98%, rgb(128, 128, 128) 100%);
    position: fixed;
    opacity: 0.7;
}

.loader:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 90%;
    border-bottom: 0 solid #ffffff05;


    box-shadow:
        0 -5px 10px 10px #ffffff40 inset,
        0 -2px 7px 5px #ffffff50 inset,
        0 -1px 2px #ffffff80 inset,
        0 -2px 1px #ffffffBB inset,
        0 2px 0px rgb(138, 185, 181),
        0 1px 2px rgb(138, 185, 181),
        0 2px 2px #ffffff90,
        0 5px 7px #ffffff60,
        0 5px 10px 10px #ffffff40;
    -webkit-filter: blur(6px);
    filter: blur(6px);
    -webkit-animation: 1s rotate linear infinite;
    animation: 1s rotate linear infinite;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.loader p {
    font-family: sans-serif;
    position: fixed;
    top: 20%;
    left: 15%;
    color: white;
    font-size: 18px;
    text-align: center;

}

.content {
    -webkit-transform: scale3d(0.5);
    transform: scale3d(0.5, 0.5, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -2;

}

.slider-container {
    display: flex;
    align-items: center;
    width: 90px;
    /* height: 550px; */
}


#info-one {
    display: none;
    position: absolute;

    text-align: center;
    left: 160px;
    top: 90px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;


    transition: all ease-in-out 0.7s;
    z-index: 10;

}

#date-selector {
    height: 30px;
    margin-left: 17px;
    margin-bottom: 10px;
    width: 120px;
    color: black;
    background: #c0c0c0;
    transition: all ease-in-out 0.7s;

}

#settings button,
input,
select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 40px;
    width: auto;
    border-radius: 20px;
    border: none;
    text-align: center;


}

#settings button {
    width: 40px;
    background-color: #000000;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all ease-in-out 0.7s;


}

#settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60px;
    height: 350px;
    margin-top: 26vmin !important;
    margin: 0px, 0px, 0px, 100px;
    border-radius: 30px;
    margin: 0 auto 10px;
    flex-direction: column;
    float: left;
    transition: all ease-in-out 0.7s;

}

#settings>* {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    border-radius: 20px;
    color: #c0c0c0;
    background-color: #2a71d0;
    border: none;
    font-weight: 700;

}

#settings button:hover {
    opacity: 0.6;
    transition: all ease-in 0.1s;

}

.slider-buttons button:hover {
    opacity: 0.6;
    transition: all ease-in 0.1s;

}

.sliders {

    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 550px;
    margin-right: 10px;
    margin-top: 15vmin;
    margin-left: 10px;

    border-radius: 30px;
    flex-direction: column;
    float: left;
    text-align: center;
    transition: all ease-in-out 0.7s;
    z-index: -4;

}


.slider-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.slider-container {
    height: 550px;
    float: right;
    justify-content: space-evenly;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient(180deg, rgb(139, 139, 139) 0%, rgba(23, 23, 23, 1) 25%, rgba(43, 43, 43, 1) 50%, rgba(22, 22, 22, 1) 75%, rgb(107, 107, 107) 100%);
    width: 80%;
    transition: all ease-in-out 0.7s;

}

input[type="file"] {
    width: 300px;
    display: block;
    margin: 1 auto;
    text-align: center;
    /* margin-left: 10px */
    border-radius: 0%;
    z-index: 2;
}





.slider {
    width: 80%;
    transition: all ease-in-out 0.7s;


}

/* Mouse-over effects */
.slider:hover {
    opacity: 0.9;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 25px;
    width: 15px;
    height: 15px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(116, 116, 116, 1) 100%);
    cursor: pointer;
    border: 0.1px solid;
    opacity: 0.9;
    box-shadow: inset -2px -2px 8px white, inset 2px 2px 8px rgba(black, 0.5);
    transition: all ease-in-out 0.7s;

}

.slider::-moz-range-thumb {
    border-radius: 25px;
    width: 15px;
    height: 15px;
    background: #ffffff;
    cursor: pointer;
    opacity: 0.9;

}


.slider::-webkit-slider-thumb:hover {
    opacity: 0.7;
}

.slider::-moz-range-thumb:hover {
    opacity: 0.7;
}



#slider-7 {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

#slider-8 {
    opacity: 0.8;

    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(255, 194, 0, 1) 10%, rgba(247, 255, 0, 1) 20%, rgba(0, 255, 1, 1) 30%, rgba(0, 247, 188, 1) 40%, rgba(0, 255, 254, 1) 50%, rgba(0, 140, 255, 1) 60%, rgba(0, 54, 255, 1) 70%, rgba(151, 0, 255, 1) 80%, rgba(255, 0, 217, 1) 90%, rgba(255, 0, 0, 1) 100%);
}




.slider-buttons button {
    /* display: flex; */
    flex-direction: row;

    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: auto;
    background-color: #000000;
    font-size: 16px;
    font-weight: 700;
    color: rgb(252, 252, 252);
    cursor: pointer;
    border-radius: 20px;
    border: none;
    transition: all ease-in-out 0.7s;
    /* padding: 10px; */

}


#button-night {
    background-color: white;
}

#button-zoom {
    display: none;
}

input[type="file"] {
    /* display: none; */
}

.custom-file-upload {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}



*,
*::after,
*::before {
    box-sizing: border-box;
}

.modal {
    font-family: sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    width: 500px;
    height: 50vh;
    min-height: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}


.tip-reset:hover:after {
    content: "Home";
    position: absolute;
    left: var(--left);
    top: var(--top);
    border-radius: 9px;
    width: 70px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.tip-night:hover:after {
    transition: all ease-in-out 0.7s;

    content: "Dark Mode";
    position: absolute;
    left: var(--left);
    top: var(--topDouble);
    border-radius: 9px;
    width: 70px;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.tip-zoom:hover:after {
    content: "Stars";
    position: absolute;
    left: var(--left);
    top: var(--top);
    border-radius: 9px;
    width: 70px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.tip-refresh:hover:after {
    content: "Layers";
    position: absolute;
    left: var(--left) !important;
    top: var(--top) !important;
    border-radius: 9px;
    width: 70px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.tip-swap:hover:after {
    content: "Swap";
    position: absolute;
    left: var(--left);
    top: var(--top);
    border-radius: 9px;
    width: 70px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.tip-download:hover:after {
    content: "Save PNG";
    position: absolute;
    left: var(--left);
    top: var(--topDouble);
    border-radius: 9px;
    width: 70px;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
}

.help:hover:after {
    content: "Help";
    position: absolute;
    left: var(--left);
    top: var(--top);
    border-radius: 9px;
    width: 70px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    font-size: 16px;

}


.button-lines:hover:after {
    content: "Animation Style";
    position: absolute;
    left: var(--left);
    top: var(--topDouble);
    border-radius: 9px;
    width: 70px;
    height: 36px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    font-size: 15px;

}

.button-random:hover:after {
    content: "Randomize";
    position: absolute;
    left: var(--left);
    top: var(--top);
    border-radius: 9px;
    width: 70px;
    height: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    font-size: 13px;

}

.button-upload:hover:after {
    content: "Upload Image";
    position: absolute;
    left: var(--left);
    top: var(--topDouble);
    border-radius: 9px;
    width: 70px;
    height: 35px;
    background-color: rgba(128, 128, 128, 0.5);
    color: white;
    font-size: 16px;

}